In [57]:
# Python strings
string = 'stringg hello aadf'
string.capitalize()
string
print(string.title())
print(string[-6:-1])

Stringg Hello Aadf
o aad

In [64]:
print("heen"  + "hi")

heenhi

In [71]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a == b)
print(id(a), id(b))

True
1743629003584 1743629462016

In [77]:
num = 21.12745
print(f'{num:1.2f}', round(num,-1))

21.13 20.0

In [25]:
num = [2,1,3,4,5]
num.sort()
num.append(6)
num.insert(1,99)
num.extend([9,8,7])
num.pop(0)
num.count(2)
num.sort(key=None, reverse=True)
num.clear()
num

[]

In [40]:
import random
fruits = ['apple', 'banana']
text = "Welcome to Jenny's Course"
print(text.split(" "))
fruits_tuple = ("apple","banana")
print(max(fruits_tuple))

['Welcome', 'to', "Jenny's", 'Course']
banana

In [ ]:
d1 = "01/24/2007"
d2 = "01/21/2008"
d3 = "02/29/2009"
d4 = "02/30/2006"
d5 = "02/28/2006"
d6 = "02/29/2006"

def get_earliest(*dates):
    year_list = []
    month_list = []
    day_list = []
    
    # we'll take years, days and months in integer format for comparability
    # for date in dates:
    #     year_list.append(int(date[2]))
    #     day_list.append(int(date[1]))
    #     month_list.append(int(date[0]))

    # year_list = [expression for item in iterable]
    year_list = [ int(date.split("/")[2]) for date in dates]
    day_list = [ int(date.split("/")[1]) for date in dates]
    month_list = [ int(date.split("/")[0]) for date in dates]

    key_index = 0

    min_year = min(year_list)
    min_month = min(month_list)
    min_day = min(day_list)

    min_year_list = [year for year in year_list if year = min_year]


    if year_list.count(min_year) == 1:
        key_index = year_list.index(min_year)
    elif month_list.count(min_month) == 1:
        key_index = month_list.index(min_month)
    else:
        key_index = day_list.index(min_day)

    return ("/".join([ 
        f"{month_list[key_index]:02d}", 
        f"{day_list[key_index]:02d}", 
        f"{year_list[key_index]:04d}"
            ]))
    
print(get_earliest(d1,d2,d3,d4,d5,d6))

2006
01/21/2008

In [80]:
set1 = {10, True, 'Jenny', 1.11}
set2 = {15, True, 'Jenny', 1.11}
set1 & set2
del set1
print(set1)

NameError: name 'set1' is not defined